https://github.com/wesm/pydata-book/tree/1st-edition

tab --> help finish with function
<br>
shift+tab --. info about variable

In [37]:
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import Series, DataFrame
import seaborn as sns

# used for example for random
from numpy import *
# for matplot
%matplotlib inline

In [4]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [12]:
%%cmd
pip install jupyter_contrib_nbextensions
jupyter contrib nbextension install --user

Microsoft Windows [Version 10.0.15063]
(c) 2017 Microsoft Corporation. All rights reserved.

(Dand) C:\Users\Wojtek Biedzinski\Documents\MK PYTHON\UDACITY Python for data analysys\JUPYTER>pip install jupyter_contrib_nbextensions
Collecting jupyter_contrib_nbextensions
  Downloading jupyter_contrib_nbextensions-0.3.1-py2.py3-none-any.whl (20.4MB)
Requirement already satisfied: notebook>=4.0 in c:\users\wojtek biedzinski\anaconda3\envs\dand\lib\site-packages (from jupyter_contrib_nbextensions)
Requirement already satisfied: traitlets>=4.1 in c:\users\wojtek biedzinski\anaconda3\envs\dand\lib\site-packages (from jupyter_contrib_nbextensions)
Collecting jupyter-nbextensions-configurator>=0.2.6 (from jupyter_contrib_nbextensions)
  Downloading jupyter_nbextensions_configurator-0.2.8-py2.py3-none-any.whl (465kB)
Requirement already satisfied: ipython-genutils in c:\users\wojtek biedzinski\anaconda3\envs\dand\lib\site-packages (from jupyter_contrib_nbextensions)
Requirement already satisfied: nbconvert>=4.2 in c:\users\wojtek biedzinski\anaconda3\envs\dand\lib\site-packages (from jupyter_contrib_nbextensions)
Requirement already satisfied: pyyaml in c:\users\wojtek biedzinski\anaconda3\envs\dand\lib\site-packages (from jupyter_contrib_nbextensions)
Collecting jupyter-latex-envs>=1.3.8 (from jupyter_contrib_nbextensions)
  Downloading jupyter_latex_envs-1.3.8.4.tar.gz (792kB)
Requirement already satisfied: jupyter-core in c:\users\wojtek biedzinski\anaconda3\envs\dand\lib\site-packages (from jupyter_contrib_nbextensions)
Requirement already satisfied: tornado in c:\users\wojtek biedzinski\anaconda3\envs\dand\lib\site-packages (from jupyter_contrib_nbextensions)
Collecting jupyter-contrib-core>=0.3.3 (from jupyter_contrib_nbextensions)
  Downloading jupyter_contrib_core-0.3.3-py2.py3-none-any.whl
Collecting jupyter-highlight-selected-word>=0.0.10 (from jupyter_contrib_nbextensions)
  Downloading jupyter_highlight_selected_word-0.0.11-py2.py3-none-any.whl
Requirement already satisfied: ipython in c:\users\wojtek biedzinski\anaconda3\envs\dand\lib\site-packages (from jupyter-latex-envs>=1.3.8->jupyter_contrib_nbextensions)
Requirement already satisfied: setuptools in c:\users\wojtek biedzinski\anaconda3\envs\dand\lib\site-packages\setuptools-27.2.0-py2.7.egg (from jupyter-contrib-core>=0.3.3->jupyter_contrib_nbextensions)
Building wheels for collected packages: jupyter-latex-envs
  Running setup.py bdist_wheel for jupyter-latex-envs: started
  Running setup.py bdist_wheel for jupyter-latex-envs: finished with status 'done'
  Stored in directory: C:\Users\Wojtek Biedzinski\AppData\Local\pip\Cache\wheels\16\ce\bb\c4baea43e79912edf809c78df79adfbd316fc13b73c6587b41
Successfully built jupyter-latex-envs
Installing collected packages: jupyter-contrib-core, jupyter-nbextensions-configurator, jupyter-latex-envs, jupyter-highlight-selected-word, jupyter-contrib-nbextensions
Successfully installed jupyter-contrib-core-0.3.3 jupyter-contrib-nbextensions-0.3.1 jupyter-highlight-selected-word-0.0.11 jupyter-latex-envs-1.3.8.4 jupyter-nbextensions-configurator-0.2.8

(Dand) C:\Users\Wojtek Biedzinski\Documents\MK PYTHON\UDACITY Python for data analysys\JUPYTER>jupyter contrib nbextension install --user

(Dand) C:\Users\Wojtek Biedzinski\Documents\MK PYTHON\UDACITY Python for data analysys\JUPYTER>

[I 10:31:31 InstallContribNbextensionsApp] jupyter contrib nbextension install --user
[W 10:31:31 InstallContribNbextensionsApp] Error: Cannot configure while the Jupyter notebook server is running
[I 10:31:31 InstallContribNbextensionsApp] To perform actions even while a notebook server is running,you may use the flag
    --skip-running-check
Traceback (most recent call last):
  File "c:\users\wojtek biedzinski\anaconda3\envs\dand\lib\runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "c:\users\wojtek biedzinski\anaconda3\envs\dand\lib\runpy.py", line 72, in _run_code
    exec code in run_globals
  File "C:\Users\Wojtek Biedzinski\Anaconda3\envs\Dand\Scripts\jupyter-contrib.EXE\__main__.py", line 9, in <module>
  File "c:\users\wojtek biedzinski\anaconda3\envs\dand\lib\site-packages\jupyter_core\application.py", line 267, in launch_instance
    return super(JupyterApp, cls).launch_instance(argv=argv, **kwargs)
  File "c:\users\wojtek biedzinski\anaconda3\envs\dand\lib\site-packages\traitlets\config\application.py", line 658, in launch_instance
    app.start()
  File "c:\users\wojtek biedzinski\anaconda3\envs\dand\lib\site-packages\jupyter_contrib_core\application.py", line 50, in start
    super(JupyterContribApp, self).start()
  File "c:\users\wojtek biedzinski\anaconda3\envs\dand\lib\site-packages\jupyter_core\application.py", line 256, in start
    self.subapp.start()
  File "c:\users\wojtek biedzinski\anaconda3\envs\dand\lib\site-packages\jupyter_contrib_nbextensions\application.py", line 226, in start
    super(ContribNbextensionsApp, self).start()
  File "c:\users\wojtek biedzinski\anaconda3\envs\dand\lib\site-packages\jupyter_core\application.py", line 256, in start
    self.subapp.start()
  File "c:\users\wojtek biedzinski\anaconda3\envs\dand\lib\site-packages\jupyter_contrib_nbextensions\application.py", line 173, in start
    toggle_install_files(self._toggle_value, **kwargs_files)
  File "c:\users\wojtek biedzinski\anaconda3\envs\dand\lib\site-packages\jupyter_contrib_nbextensions\install.py", line 60, in toggle_install_files
    'Cannot configure while the Jupyter notebook server is running')
jupyter_contrib_nbextensions.install.NotebookRunningError: Cannot configure while the Jupyter notebook server is running

In [14]:
%%cmd
jupyter nbextension enable varInspector/main

Microsoft Windows [Version 10.0.15063]
(c) 2017 Microsoft Corporation. All rights reserved.

(Dand) C:\Users\Wojtek Biedzinski\Documents\MK PYTHON\UDACITY Python for data analysys\JUPYTER>jupyter nbextension enable varInspector/main

(Dand) C:\Users\Wojtek Biedzinski\Documents\MK PYTHON\UDACITY Python for data analysys\JUPYTER>

Enabling notebook extension varInspector/main...
      - Validating: problems found:
        - require?  X varInspector/main

================================================================================================================================
# <font color='green'>File Input and Output with Arrays</font>

```python
np.save
np.load 
```
are the two workhorse functions for efficiently saving and loading
array data on disk. Arrays are saved by default in an uncompressed raw binary format
with file extension **__.npy.__**

<img src="set_ops.PNG">

# <font color='green'>SLICE and DICE</font>

<font color="#000000">
<ol type="1">
An important first distinction
from lists is that array slices are views on the original array. This means that
<font color="red">the data is not copied, and any modifications to the **view** will be reflected in the source array</font>

As NumPy has
been designed with large data use cases in mind, you could imagine performance and
memory problems if NumPy insisted on copying data left and right.

**<font color='green'>DTYPE</font>**

supported dtypes:
<img src="data_type1.png"> 
<img src="data_type2.png">

<font color='green'>**FANCY INDEXING** </font>

# <font color='green'>**==============================================================**</font>

# <font color='green'>SERIES Data structure</font>

A Series is a one-dimensional array-like object containing an array of data (of any
NumPy data type) and an associated array of data labels, called its <font color="red">index</font>. The simplest
Series is formed from only an array of data:

In [9]:
obj= Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [10]:
obj.values
obj.index

array([ 4,  7, -5,  3], dtype=int64)

RangeIndex(start=0, stop=4, step=1)

In [12]:
obj2 = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

<font color='green'>**SERIES operations** </font>

In [13]:
obj2['a']

-5

In [15]:
#using list of values

obj2[["a","b", "c"]]

a   -5
b    7
c    3
dtype: int64

In [16]:
obj2[obj2>0]

d    4
b    7
c    3
dtype: int64

In [17]:
obj2*2

d     8
b    14
a   -10
c     6
dtype: int64

Another way to think about a Series is as a fixed-length, ordered dict, as it is a mapping
of index values to data values. It can be substituted into many functions that expect a
dict:

In [18]:
'b' in obj2
"e" in obj

True

False

In [21]:
#converting dictionary to Series
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = Series(sdata)
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

it appears as NaN (not a number) which is considered
in pandas to mark missing or NA values. I will use the terms “missing” or “NA”
to refer to missing data. The 
```python
isnull
notnull 
```

functions in pandas should be used to
detect missing data:

In [26]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index=states)
obj4

pd.isnull(obj4)
obj4.isnull()

pd.notnull(obj4)
obj4.notnull()

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

A critical Series feature for many applications is that it automatically aligns differentlyindexed
data in arithmetic operations:

In [27]:
obj3
obj4
obj3+obj4

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

Both the Series object itself and its index have a 
```python
name
```
attribute, which integrates with
other key areas of pandas functionality:

In [29]:
obj4.name = 'population'

obj4.index.name = 'state'

obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [31]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']

obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

# <font color='green'>DataFrame Data structure</font>

A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered
collection of columns, each of which can be a different value type (numeric,
string, boolean, etc.). The DataFrame has both a row and column index; it can be
thought of as a dict of Series (one for all sharing the same index). Compared with other
such DataFrame-like structures you may have used before (like R’s data.frame),

<font color="red"></font>. 
Columns can be modified by assignment.

<font color='green'>**DataFrame creation** </font>

There are numerous ways to construct a DataFrame, though one of the most common
is <font color='red'>from a dict of equal-length lists or NumPy arrays</font>

In [5]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

frame = DataFrame(data)

frame

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

In [7]:
#You can change column sequence

DataFrame(data, columns=['year', 'state', 'pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

In [8]:
#As with Series, if you pass a column that isn’t contained in data, it will appear with NA
#values in the result:

frame2 = DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
    index=['one', 'two', 'three', 'four', 'five'])
frame2

frame2.columns

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN

Index([u'year', u'state', u'pop', u'debt'], dtype='object')

A column in a DataFrame can be retrieved as a Series either by dict-like notation or by
attribute:

In [9]:
frame2['state']
frame2.year

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
Name: state, dtype: object

one      2000
two      2001
three    2002
four     2001
five     2002
Name: year, dtype: int64

Rows can also be retrieved by position or name by a couple of methods, such as the

```python
ix
```
indexing field (much more on this later):

<font color='green'>**Column deletion** </font>

The best way to do this in pandas is to use drop:

```python
df = df.drop('column_name', 1)
```
where 1 is the axis number (0 for rows and 1 for columns.)

To delete the column without having to reassign df you can do:

```python
df.drop('column_name', axis=1, inplace=True)
```
Finally, to drop by column number instead of by column label, try this to delete, e.g. the 1st, 2nd and 4th columns:
```python
df.drop(df.columns[[0, 1, 3]], axis=1)  # df.columns is zero-based pd.Index 
```

In [46]:
frame2.ix['three']
#column can be modified by assingment
frame2['debt'] = 16.5

###!!!When assigning lists or arrays to a column, the value’s length must match the length of the DataFrame.

frame2["D"] = np.arange(5)
#frame2["D"] = np.arange(7)  # incorrect as len of range is longer than len of df
frame2
frame2 = frame2.drop(frame2.columns[4], axis=1)
frame2

year     2002
state    Ohio
pop       3.6
debt     16.5
Name: three, dtype: object

       year   state  pop  debt  D
one    2000    Ohio  1.5  16.5  0
two    2001    Ohio  1.7  16.5  1
three  2002    Ohio  3.6  16.5  2
four   2001  Nevada  2.4  16.5  3
five   2002  Nevada  2.9  16.5  4

       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5

In [51]:
###If you assign a Series, it will be instead conformed exactly to the DataFrame’s index, inserting missing values in any holes:
val = Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
val

frame2['debt'] = val

frame2

two    -1.2
four   -1.5
five   -1.7
dtype: float64

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7

In [58]:
#Assigning a column that doesn’t exist will create a new column
frame2['eastern'] = frame2.state == 'Ohio'
frame2['Wojtas faflun'] = 0
frame2

       year   state  pop  debt eastern  Wojtas faflun
one    2000    Ohio  1.5   NaN    True              0
two    2001    Ohio  1.7  -1.2    True              0
three  2002    Ohio  3.6   NaN    True              0
four   2001  Nevada  2.4  -1.5   False              0
five   2002  Nevada  2.9  -1.7   False              0

In [59]:
del frame2['eastern']
del frame2['Wojtas faflun']
frame2.columns

Index([u'year', u'state', u'pop', u'debt'], dtype='object')

<font color='green'>**NESTED DICT** </font>

If passed to DataFrame, it will interpret the outer dict keys as the columns and the inner
keys as the row indices

<img src="df_creation.PNG">

In [63]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
    'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = DataFrame(pop)
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [66]:
### you can always transpose the result

frame3.T

###Like Series, the values attribute returns the data contained in the DataFrame as a 2Dndarray
frame3.values

        2000  2001  2002
Nevada   NaN   2.4   2.9
Ohio     1.5   1.7   3.6

array([[ nan,  1.5],
       [ 2.4,  1.7],
       [ 2.9,  3.6]])

<font color='green'>**INDEX OBJECTS** </font>

pandas’s Index objects are responsible for holding the axis labels and other metadata
(like the axis name or names). Any array or other sequence of labels used when constructing
a Series or DataFrame is internally converted to an Index

<font color='red'>Index objects are immutable</font> and thus can’t be modified by the user
Immutability is important so that Index objects can be safely shared among datastructures:

In addition to being array-like, an Index also functions as a <font color='red'>fixed-size set</font>

<img src="pd_index.PNG">

In [69]:
obj = Series(range(3), index=['a', 'b', 'c'])

obj.index
obj.index[2:]

###!!!Index objects are immutable and thus can’t be modified by the user:
obj.index[2] = 'a se sprawdze'

Index([u'a', u'b', u'c'], dtype='object')

Index([u'c'], dtype='object')

TypeError: Index does not support mutable operations

In [72]:
index = pd.Index(np.arange(3))

obj2 = Series([1.5, -2.5, 0], index=index)

obj2.index is index

True

<img src = "df_ix_fun.png">

In [96]:
frame3

'Ohio' in frame3.columns

2002 in frame3.index
2003 in frame3.index
frame3.index.append(pd.Index([2003]))

      Nevada  Ohio  2003
2000     NaN   1.5    12
2001     2.4   1.7    12
2002     2.9   3.6    12

True

True

False

Int64Index([2000, 2001, 2002, 2003], dtype='int64')